.connect {

  &_panel {
    display: flex;
    justify-content: space-between;
    padding-top: 25svh;
    padding-left: 10svw;
    padding-right: 10svw;

    &-pane {
      background-color: orange;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 23svw;
      height: 60svh;
      border-radius: 2vw;
      cursor: pointer;
      transition: transform 0.5s;
      transform-style: preserve-3d;
      
      &-front, &-back {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
      }

      &-back {
        transform: rotateY(180deg);
        font-size: 2svw;
      }
    }

    &-pane.flipped {
      transform: rotateY(180deg);
    }
  }
}