.bubbleButton {
  display: flex;
  background-color: var(--offwhite);
  color: var(--backgroundgray);
  font-family: 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100vw; // Massive to make sure it's properly rounded
  text-shadow: 0px 0px 0px var(--backgroundgray);

  padding: 20px 4vw;
  font-size: 1.3vw;
  margin-right: 2vw;
  transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), text-shadow 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.bubbleButton:hover {
  background-color: #820000;
  color: var(--offwhite);
  text-shadow: 0px 0px 10px var(--offwhite);
}