.bubbleButton {
  display: flex;
  background-color: var(--offwhite);
  font-family: 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100vw; // Massive to make sure it's properly rounded

  padding: 2vh 4vw;
  font-size: 1.3vw;
  margin-right: 2vw;
  transition: background-color 0.5s ease-out;
}

.bubbleButton:hover {
  background-color: #820000;
}

.bubbleButton:hover a {
  color: var(--offwhite);
}

.bubbleButton a {
  text-decoration: none;
  color: var(--backgroundgray);
  transition: color 0.5s ease-out;
}
