.landingpage {
  background-color: white;
  display: flex;
  flex-direction: column;

  &__intro {
    height: 95vh;
    padding-top: 3vh;

    &--navbar {
      display: flex;

      &-IEEE {
        display: flex;
        width: 10vw;
        border: solid black 1px;

        &-button {
          display: flex;
          background-color: transparent;
          width: 100%;
          border: 0;
          justify-content: center;
          cursor: pointer;
        }

        &-button > * {
          align-items: center;
        }
      }
      
      &-search {
        display: flex;
        width: 42vw;
        border: solid black 1px;
        border-radius: 40px;
        align-items: center;
        background-color: white;
        z-index: 10;

        &-image {
          display: flex;
          flex-grow: 0;
          height: 100%;
          margin-left: 10px;
          background-color: transparent;
          border: 0;
          cursor: pointer;
        }

        &-image > * {
          align-items: center;
        }

        &-input {
          flex-grow: 1;
          margin-right: 15px;
          background-color: transparent;
          border: 0;
          font-family: 'Helvetica Neue', sans-serif;
          font-size: 20px;
          outline: none;
        }

        &-input::placeholder {
          color: #969696;
        }
      }

      &-other {
        display: flex;
        width: 16vw;
        border: solid black 1px;
        align-items: center;
        justify-content: center;
        background-color: white;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 15px;
        z-index: 10;
      }

      &-other:hover {
        background-color: black;
        color: white;
      }
    }

    &--navbar > * {
      padding: 3px 0;
    }

    &--info {
      position: absolute;

      &-text {

      }

      &-join {
        display: flex;
        margin-left: 15vw;
        margin-top: -15vh;
        align-items: center;
        justify-content: center;

        &_image {
          pointer-events: none;
        }

        &_image * {
          pointer-events: visible;
        }

        &_image stop {
          transition: .3s ease-out;
        }

        &_image:hover stop:first-child {
          stop-color: #54100C;
        }

        &_image:hover stop:last-child {
          stop-color: #B83A4B;
        }

        &_text {
          position: absolute;
          z-index: 2;
          color: white;
          font-size: 65px;
          font-weight: 500;
          pointer-events: none;
        }
      }

      &-stanford {

      }
    }
  }

  &__bottom {
    background-color: blue;
  }
}